<h2>Add user:</h2>
<form class="form-horizontal" ng-controller="UserDataCtrl" ng-submit="doSome()" name="form" id="form">
    <fieldset>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="username">Username:</label>
            <div class="col-md-4">
                <input id="userName" ng-model="user.userName" ng-minlength="4" ng-maxlength="15" name="username" placeholder="" class="form-control input-md" required="" type="text">

            </div>
            <div ng-show="form.username.$dirty && form.username.$invalid" style="color:red">
                <h5>Benutzername nicht erlaubt</h5>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Vorname:</label>
            <div class="col-md-4">
                <input type="text" id="name" ng-model="user.name" ng-maxlength="15" name="name" placeholder="" class="form-control input-md" required="" type="text">

            </div>
            <div ng-show="form.name.$dirty && form.name.$invalid" style="color:red">
                <h5>Vorname nicht erlaubt</h5>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="lastname">Nachname:</label>
            <div class="col-md-4">
                <input type="text" id="lastName" ng-model="user.lastName" ng-maxlength="15" name="lastName" placeholder="" class="form-control input-md" required="" type="text">
            </div>
            <div ng-show="form.lastName.$dirty && form.lastName.$invalid" style="color:red">
                <h5>Das ist doch kein Nachname...</h5>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="email">E-Mail:</label>
            <div class="col-md-4">
                <input type="email" id="eMail" ng-model="user.eMail" typeng-maxlength="45" name="eMail" placeholder="" class="form-control input-md" required="" type="text">
            </div>
            <div ng-show="form.eMail.$dirty && form.eMail.$invalid" style="color:red">
                <h5>Bitte geben Sie eine g&uuml;ltige Mailadresse an!</h5>
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Passwort:</label>
            <div class="col-md-4">
                <input id="password" ng-model="user.password" ng-maxlength="15" name="password" placeholder="" class="form-control input-md" required="" type="password">
            </div>

        </div>

        <!-- Password validation-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="password">Passwort wiederholen:</label>
            <div class="col-md-4">
                <input id="vpassword" ng-model="user.vpassword" ng-maxlength="15" name="password" placeholder="" class="form-control input-md" required="" type="password">
            </div>

        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <button type="submit" id="submit" class="btn btn-primary">speichern</button>
            </div>
        </div>

    </fieldset>
</form>
<toaster-container></toaster-container>