<div ng-controller="UserCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>Benutzerverwaltung:</h1>
            <legend>
                <div class="step">
                    <a href="#/admin/user" ng-click="setUserSite('A')">&Uuml;bersicht</a> |
                    <a href="#/admin/user" ng-click="setUserSite('B')">Benutzer hinzufügen </a>
                </div>
            </legend>
            <div ng-switch="userSite">
                <div class ="step" ng-switch-when="B">
                    <form class="form-horizontal"  ng-controller="UserInputCtrl" ng-submit="saveUser()">
                        <fieldset>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="username">Username:</label>
                            <div class="col-md-4">
                                <input id="username" ng-model="user.username" name="username" placeholder="" class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Vorname:</label>
                            <div class="col-md-4">
                                <input id="name" ng-model="user.name" name="name" placeholder="" class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="lastname">Nachname:</label>
                            <div class="col-md-4">
                                <input id="lastname" ng-model="user.lastname" name="lastname" placeholder="" class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">E-Mail:</label>
                            <div class="col-md-4">
                                <input id="email" ng-model="user.email" name="email" placeholder="" class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="password1">Passwort:</label>
                            <div class="col-md-4">
                                <input id="password1" ng-model="user.password" name="password" placeholder="" class="form-control input-md" required="" type="password">
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="button"></label>
                            <div class="col-md-4">
                                <button type="submit" id="submit" name="button" class="btn btn-default">speichern</button>
                            </div>
                        </div>

                    </fieldset>
                    </form>
                </div>
                <div class="step" ng-switch-when="A">
                    <div>Hier kommt eine Tabelle</div>
                </div>
            </div>
        </div>
    </div>
</div>