<div ng-controller="UserTabCtrl">
    <div class="panel panel-default">
        <div class="panel-body">
            <h1>Benutzerverwaltung:</h1>
            <legend>
                <div class="step">
                    <a href="#/admin/user" ng-click="setUserSite('A')">&Uuml;bersicht</a> |
                    <a href="#/admin/user" ng-click="setUserSite('B')">Benutzer hinzufügen </a>
                </div>
            </legend>
            <div ng-switch="userSite">
                <div class ="step" ng-switch-when="B">
                    <form class="form-horizontal" ng-submit="saveUser()">
                        <fieldset>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="username">Username:</label>
                            <div class="col-md-4">
                                <input id="userName" ng-model="user.userName" ng-maxlength="15" name="username" placeholder="" class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="name">Vorname:</label>
                            <div class="col-md-4">
                                <input id="name" ng-model="user.name" ng-maxlength="15" name="name" placeholder="" class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="lastname">Nachname:</label>
                            <div class="col-md-4">
                                <input id="lastName" ng-model="user.lastName" ng-maxlength="15" name="lastName" placeholder="" class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="email">E-Mail:</label>
                            <div class="col-md-4">
                                <input type="email" id="eMail" ng-model="user.eMail" typeng-maxlength="45" name="eMail" placeholder="" class="form-control input-md" required="" type="text">

                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="password1">Passwort:</label>
                            <div class="col-md-4">
                                <input id="password" ng-model="user.password" ng-maxlength="15" name="password" placeholder="" class="form-control input-md" required="" type="password">
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="button"></label>
                            <div class="col-md-4">
                                <button type="submit" id="submit" name="button" class="btn btn-default">speichern</button>
                            </div>
                        </div>

                    </fieldset>
                    </form>
                </div>
                <div class="step" ng-switch-when="A">
                    <table class="table">
                        <thead>
                            <th>Userid</th>
                            <th>Username</th>
                            <th>Vorname</th>
                            <th>Nachname</th>
                            <th>E-Mail</th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="output in userList">
                                    <td>{{output.userId}}</td>
                                    <td>{{output.userName}}</td>
                                    <td>{{output.name}}</td>
                                    <td>{{output.lastName}}</td>
                                    <td>{{output.eMail}}</td>
                                    <td>
                                        <button type = "button" ng-click="deleteUser(output)" class="btn btn-default">löschen</button>
                                        <button type = "button" ng-click="" class="btn btn-default">edit</button>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>