<form>
    <input type="text" ng-model="search">
    <p ng-show="search">Du suchst gerande nach: {{search}}</p>
</form>
<table class="table" ng-controller="ArticlesCtrl">
    <tr ng-repeat="article in articles | filter:search">
        <td>{{article.id}}</td>
        <td>{{article.name}}</td>
        <td>{{article.price}}</td>
        <td><a href class="btn btn-default btn-sm" ng-click="cart.addArticle(article)">Hinzufügen</a></td>
    </tr>
</table>
<div ng-controller="CartCtrl">
    <div ng-hide="cart.getItems().length" class="alert alert-warning">Ihr Warenkorb ist noch leer.</div>
    <table ng-show="cart.getItems().length" class="table">
        <tr ng-repeat="item in cart.getItems() track by $index">
            <td>{{item.name}}</td>
            <td>{{item.price | currency}}</td>
            <td><a href class="btn btn-default btn-sm" ng-click="cart.deleteItem(item)">Entfernen</a></td>
        </tr>
        <tr>
            <td>{{cart.getItems().length}} Artikel</td>
            <td>{{cart.sum() | currency}}</td>
            <td></td>
        </tr>
    </table>
</div>