<div class="form-group">
    <label class="col-md-4 control-label" for="password1">Passwort:</label>
    <div class="col-md-4">
        <input id="password1" ng-model="user.password" name="password" placeholder="" class="form-control input-md" required="" type="password">
    </div>
</div>

<!-- Password input-->
<div class="form-group">
    <label class="col-md-4 control-label" for="password2">Passwort wiederhohlen:</label>
    <div class="col-md-4">
        <input id="password2" ng-model="user.password_verify" name="confirm_password" placeholder="" class="form-control input-md" required="" type="password">
    </div>
</div>

