<div class="panel panel-default">
    <div class="panel-body">
        <h1>Wetter in Erfurt</h1>
            <table class="table" ng-controller="WetterController">
                <thead>
                    <tr>
                        <th>Wetter</th>
                        <th>Themperatur (Kelvin)</th>
                        <th>Luftdruck</th>
                        <th>Feuchtigkeit</th>
                        <th>Windgeschwindigkeit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ng-repeat="akt in wetter.weather"><img src="img/{{akt.icon}}.png"> </td>
                        <td>{{wetter.main.temp}}</td>
                        <td>{{wetter.main.pressure}}</td>
                        <td>{{wetter.main.humidity}}</td>
                        <td>{{wetter.wind.speed}}</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>